<nav>
    <mat-toolbar color="primary">
        <a href="/">
            <span>
                <img src="/assets/images/moviestore.png" alt="moviestore" title="moviestore" class="moviestore-logo" style="height: 50px; width: 80px; background: #673ab7;">
            </span>
        </a>
        <span class="navbar-fill">
            <button *ngIf="isLoggedIn" mat-button routerLink="/movies">Movies</button>
        </span>
        <span>
            <button *ngIf="!isLoggedIn" mat-button (click)="login()">Login</button>
            <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
        </span>
    </mat-toolbar>
</nav>
<div>
<router-outlet></router-outlet>
</div>